* {
    box-sizing: border-box;
    padding: 0%;
  }

  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;*/ 
  }

  .form-container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .form-container h2 {
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
    color: #333;
  }

  .form-group {
   margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #55a0f7;
  }

  .form-group input {
    width: 100%;
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s;
  }

  .form-group select {
    width: 100%;
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline:none;
    transition: border-color 0.3s;
  }

  .form-select{
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    color: #555;
  }

.form-group option{
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    color: #555;
}

  .form-group input:focus {
    border-color: #4a90e2;
    outline: none;
  }

  .form-button {
    width: 100%;
    padding: 15px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .form-button:hover {
    background-color: #357abd;
  }

  .form-footer {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
  }

  .form-footer a {
    color: #4a90e2;
    text-decoration: none;
  }

  .form-footer a:hover {
    text-decoration: underline;
  }


  /* Mobile & Small devices */
@media (max-width: 600px) {
  .form-container {
    width: 90%;
    padding: 20px;
  }

  .form-container h2 {
    font-size: 22px;
  }

  .form-group input,
  .form-group select {
    padding: 12px;
    font-size: 13px;
  }

  .form-button {
    padding: 13px;
    font-size: 15px;
  }

  .form-footer {
    font-size: 14px;
  }
}

/* Tablet & medium devices */
@media (min-width: 601px) and (max-width: 992px) {
  .form-container {
    width: 70%;
    padding: 25px;
  }

  .form-container h2 {
    font-size: 24px;
  }

  .form-group input,
  .form-group select {
    padding: 14px;
    font-size: 14px;
  }

  .form-button {
    padding: 14px;
    font-size: 16px;
  }
}

